<div
        class="ehr-text ehr-line"
        data-ehr-path="{{::model.getPath()}}"
        data-ehr-name="{{::model.getName()}}"
        ng-hide="model.getViewConfig().isHidden()"
        ng-class="::EhrLayoutHelper.computeEhrLineClass(model)"
        >
    <ehr-label ng-if="!suppressLabel" class="ehr-label-content" ng-class="::EhrLayoutHelper.computeEhrLabelContentClass(model)">
        {{::model.labelFor(EhrContext.language)}}:
    </ehr-label>
    <div class="ehr-field-content">
        <ehr-text-field ng-if="::model.getViewConfig().getField().getPresentation() !== thinkehr.f4.FieldPresentation.TEXTAREA"></ehr-text-field>
        <ehr-text-area ng-if="::model.getViewConfig().getField().getPresentation() === thinkehr.f4.FieldPresentation.TEXTAREA"></ehr-text-area>
    </div>

</div>
