<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characteristic</key>
	<dict>
		<key>HKCharacteristicTypeIdentifierBiologicalSex</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Biological Sex</string>
			<key>unit</key>
			<integer>11</integer>
		</dict>
		<key>HKCharacteristicTypeIdentifierBloodType</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Blood Type</string>
			<key>unit</key>
			<integer>11</integer>
		</dict>
		<key>HKCharacteristicTypeIdentifierDateOfBirth</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Date Of Birth</string>
			<key>unit</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>correlation</key>
	<dict>
		<key>HKCorrelationTypeIdentifierBloodPressure</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Blood Pressure</string>
			<key>unit</key>
			<integer>13</integer>
		</dict>
		<key>HKCorrelationTypeIdentifierFood</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Food</string>
			<key>unit</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>quantity</key>
	<dict>
		<key>HKQuantityTypeIdentifierActiveEnergyBurned</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Active Energy Burned</string>
			<key>unit</key>
			<integer>6</integer>
			<key>unitString</key>
			<string>J</string>
		</dict>
		<key>HKQuantityTypeIdentifierBasalEnergyBurned</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Basal Energy Burned</string>
			<key>unit</key>
			<integer>6</integer>
			<key>unitString</key>
			<string>J</string>
		</dict>
		<key>HKQuantityTypeIdentifierBloodAlcoholContent</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Blood Alcohol Content</string>
			<key>unit</key>
			<integer>10</integer>
			<key>unitString</key>
			<string>%</string>
		</dict>
		<key>HKQuantityTypeIdentifierBloodGlucose</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Blood Glucose</string>
			<key>unit</key>
			<integer>13</integer>
			<key>unitString</key>
			<string>mg/dl</string>
		</dict>
		<key>HKQuantityTypeIdentifierBloodPressureDiastolic</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Blood Pressure Diastolic</string>
			<key>unit</key>
			<integer>4</integer>
			<key>unitString</key>
			<string>mmHg</string>
		</dict>
		<key>HKQuantityTypeIdentifierBloodPressureSystolic</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Blood Pressure Systolic</string>
			<key>unit</key>
			<integer>4</integer>
			<key>unitString</key>
			<string>mmHg</string>
		</dict>
		<key>HKQuantityTypeIdentifierBodyFatPercentage</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Body Fat Percentage</string>
			<key>unit</key>
			<integer>10</integer>
			<key>unitString</key>
			<string>%</string>
		</dict>
		<key>HKQuantityTypeIdentifierBodyMass</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Body Mass</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>kg</string>
		</dict>
		<key>HKQuantityTypeIdentifierBodyMassIndex</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Body Mass Index</string>
			<key>unit</key>
			<integer>9</integer>
			<key>unitString</key>
			<string>count</string>
		</dict>
		<key>HKQuantityTypeIdentifierBodyTemperature</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Body Temperature</string>
			<key>unit</key>
			<integer>7</integer>
			<key>unitString</key>
			<string>degC</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryBiotin</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Biotin</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryCaffeine</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Caffeine</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryCalcium</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Calcium</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryCarbohydrates</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Carbohydrates</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryChloride</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Chloride</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryCholesterol</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Cholesterol</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryChromium</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Chromium</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryCopper</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Copper</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryEnergyConsumed</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Energy Consumed</string>
			<key>unit</key>
			<integer>6</integer>
			<key>unitString</key>
			<string>kJ</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryFatMonounsaturated</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Fat Monounsaturated</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryFatPolyunsaturated</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Fat Polyunsaturated</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryFatSaturated</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Fat Saturated</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryFatTotal</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Fat Total</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryFiber</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Fiber</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryFolate</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Folate</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryIodine</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Iodine</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryIron</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Iron</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryMagnesium</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Magnesium</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryManganese</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Manganese</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryMolybdenum</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Molybdenum</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryNiacin</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Niacin</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryPantothenicAcid</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Pantothenic Acid</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryPhosphorus</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Phosphorus</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryPotassium</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Potassium</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryProtein</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Protein</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryRiboflavin</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Riboflavin</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietarySelenium</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Selenium</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietarySodium</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Sodium</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietarySugar</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Sugar</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryThiamin</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Thiamin</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryVitaminA</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Vitamin A</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryVitaminB12</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Vitamin B12</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryVitaminB6</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Vitamin B6</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryVitaminC</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Vitamin C</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryVitaminD</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Vitamin D</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryVitaminE</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Vitamin E</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryVitaminK</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Vitamin K</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDietaryZinc</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Zinc</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>g</string>
		</dict>
		<key>HKQuantityTypeIdentifierDistanceCycling</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Distance Cycling</string>
			<key>unit</key>
			<integer>2</integer>
			<key>unitString</key>
			<string>m</string>
		</dict>
		<key>HKQuantityTypeIdentifierDistanceWalkingRunning</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Distance Walking Running</string>
			<key>unit</key>
			<integer>2</integer>
			<key>unitString</key>
			<string>m</string>
		</dict>
		<key>HKQuantityTypeIdentifierElectrodermalActivity</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Electrodermal Activity</string>
			<key>unit</key>
			<integer>8</integer>
			<key>unitString</key>
			<string>mcS</string>
		</dict>
		<key>HKQuantityTypeIdentifierFlightsClimbed</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Flights Climbed</string>
			<key>unit</key>
			<integer>9</integer>
			<key>unitString</key>
			<string>count</string>
		</dict>
		<key>HKQuantityTypeIdentifierForcedExpiratoryVolume1</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Forced Expiratory Volume</string>
			<key>unit</key>
			<integer>3</integer>
			<key>unitString</key>
			<string>l</string>
		</dict>
		<key>HKQuantityTypeIdentifierForcedVitalCapacity</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Forced Vital Capacity</string>
			<key>unit</key>
			<integer>3</integer>
			<key>unitString</key>
			<string>l</string>
		</dict>
		<key>HKQuantityTypeIdentifierHeartRate</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Heart Rate</string>
			<key>unit</key>
			<integer>13</integer>
			<key>unitString</key>
			<string>count/min</string>
		</dict>
		<key>HKQuantityTypeIdentifierHeight</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Height</string>
			<key>unit</key>
			<integer>2</integer>
			<key>unitString</key>
			<string>cm</string>
		</dict>
		<key>HKQuantityTypeIdentifierInhalerUsage</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Inhaler Usage</string>
			<key>unit</key>
			<integer>9</integer>
			<key>unitString</key>
			<string>count</string>
		</dict>
		<key>HKQuantityTypeIdentifierLeanBodyMass</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Lean Body Mass</string>
			<key>unit</key>
			<integer>1</integer>
			<key>unitString</key>
			<string>kg</string>
		</dict>
		<key>HKQuantityTypeIdentifierNikeFuel</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Nike Fuel</string>
			<key>unit</key>
			<integer>9</integer>
			<key>unitString</key>
			<string>count</string>
		</dict>
		<key>HKQuantityTypeIdentifierNumberOfTimesFallen</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Number Of Times Fallen</string>
			<key>unit</key>
			<integer>9</integer>
			<key>unitString</key>
			<string>count</string>
		</dict>
		<key>HKQuantityTypeIdentifierOxygenSaturation</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Oxygen Saturation</string>
			<key>unit</key>
			<integer>10</integer>
			<key>unitString</key>
			<string>%</string>
		</dict>
		<key>HKQuantityTypeIdentifierPeakExpiratoryFlowRate</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Peak Expiratory Flow Rate</string>
			<key>unit</key>
			<integer>13</integer>
			<key>unitString</key>
			<string>l/min</string>
		</dict>
		<key>HKQuantityTypeIdentifierPeripheralPerfusionIndex</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Peripheral Perfusion Index</string>
			<key>unit</key>
			<integer>10</integer>
			<key>unitString</key>
			<string>%</string>
		</dict>
		<key>HKQuantityTypeIdentifierRespiratoryRate</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Respiratory Rate</string>
			<key>unit</key>
			<integer>13</integer>
			<key>unitString</key>
			<string>count/min</string>
		</dict>
		<key>HKQuantityTypeIdentifierStepCount</key>
		<dict>
			<key>isCumulative</key>
			<true/>
			<key>name</key>
			<string>Step Count</string>
			<key>unit</key>
			<integer>9</integer>
			<key>unitString</key>
			<string>count</string>
		</dict>
	</dict>
	<key>workout</key>
	<dict>
		<key>HKWorkoutTypeIdentifier</key>
		<dict>
			<key>isCumulative</key>
			<false/>
			<key>name</key>
			<string>Workout</string>
			<key>unit</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
